



.hader{
	background-image:url(../images/1.jpg);
	height: 851px;
	
	background-repeat: no-repeat;
	background-size:cover;
}
.marque{
	/*margin-left: 75px;*/
	margin-top: 35px;
	/*border: 1px solid black;*/

}
/*.et{
	position: relative;
	top: 80px;
}*/

.tiret{
	border-bottom: 2px solid white;
	/*padding-bottom: 20px;*/
}
	
.vides{
	background-color: rgb(241 241 241);
	height: 300px;
	margin-bottom: 50px;
	margin-top: 50px;
}


span{
	/*font-size: 20px;
	color: red;*/
}
.tail{
	font-size: 20px;
}
.accept{
	color: white;
	/*margin-right: 100px;*/
	text-align: center;
	font-size: 50px;
	
}
.sed{
	color:white;
	text-align: center;


}
.wel{
	font-size:30px;
	color: rgb(241,153,20);
	margin-top: 50px;
	margin-bottom: 55px;
}
.bordure{
	background-color: rgb(228,228,228);
}
.border-wel{
	margin-bottom: 10px;
}
.navig{
	font-size: 50px;
	margin-top: 40px;
	color: white;
}
.ba{
color:rgb(241,153,20);
font-size: 50px;
}
.navigue{
	font-size: 18px;

	/*margin-left: 385px;*/
	margin-top: 35px;
	
	
}



.opa{
	opacity: 0.5;
}
.bloc{
	background-color:rgb(245,245,245);
	background-size:100%;
}
.im1{
	margin-top: 40px;
}
.texte{
	margin: 

}
.carousel-indicators li{
	background-color: rgb(241,153,20);
	border-style: none;
}

a{

	background-color:inherit !important;

}
.lien:hover{
	color: orange;
	/*border-bottom: 1px solid red;
	margin-bottom: 100px*/
	
	

}
.poo{
	margin-bottom: 50px;
}


.texte{
	opacity: 0.4;
	font-size: 18px;
	line-height:40px;
}

.choix:hover{
	
	border-bottom: 1px solid orange;
	/*height: 75px;*/
	/*padding-bottom: 45px;*/
	/*color: orange;*/

}



/*LAPTOP (md)*/

@media only screen and (min-width:1101px){
	.marque{
		margin-left: 75px;
		margin-top: 35px;
	/*border: 1px solid black;*/
	}

	.navigue{
		font-size: 18px;
		margin-left: 385px;
		margin-top: 35px;
	
   }

   .buttons{
   	position: relative;
   	top: 30px;
   }

   .carousel{
   	margin-top: 150px;
   }

   .imi{
		height: 400px;
		
	}
	.apparai{
		display:none;
	}

	




}







/*TELEPHONE(XS)
*/@media only screen and (max-width:768px){
	.navigue{
		background-color: black;
		opacity: 0.8;
		position: absolute;
		z-index: 2;
		width: 100%;


	   }

	   .dispa{
	   	display: none !important;
	   }
	   .blogue{
	   	height: 210px;
	   	
	   }


	 .imi{
		height: 500px;
		padding-bottom: 100px;
		
	    }

	 .foonet{
		size:15px;
		
	  }

	.foonet1{
		height: 100px;
	}
	
	


	.buttons{
   		position: relative;
   		top: 30px;
   }

   .carousel{
   	margin-top: 40px;
   	z-index: 1;

   }



	.accept{
		font-size: 30px;

	}

	.hader{
		height: 450px;
	}

	.blogue1{
	
	
	position: relative;
	bottom: 100px;



    }

    .blogue2{
    	position: relative;
    	bottom: 200px;
    }
    .blogue3{
    	position: relative;
    	bottom: 270px;
    	margin-left: 120px;
    }
    .blogue4{
    	position: relative;
    	bottom: 370px;
    }
    .blogue5{
    	position: relative;
    	bottom: 290px;
    	margin-left: 120px;
    }

    .blogue6{
    	position: relative;
    	bottom: 80px;
    	right: 50px;
    }
    .blogue7{
    	position: relative;
    	bottom: 400px;
    	margin-left: 120px;
    }




	

}

/*TABLETTE(SM)*/
@media only screen and (min-width:769px) and(max-width:1100px){
    /*.blogue1{
	   margin-bottom:1px;



      }*/
      .blogue3{
      	position: relative;
      	
      	margin-left: 150px;
      }




     

}




